.textarea-localizer{
    position: relative;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.375rem;
    
    & .textarea-localizer-header{
        /* position: absolute; */
        display: flex;
        justify-content: flex-end;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        padding: 5px;
        text-align: right;
        box-sizing: border-box;
    }
    
    & .textarea-localizer-languages{
        display: flex;
        gap: 10px;
        transition: filter 0.3s;
        -webkit-transition: filter 0.3s;
        -moz-transition: filter 0.3s;
        -o-transition: filter 0.3s;
        
        & .textarea-localizer-language{
            height: 17px;
            
            & img{
                cursor: pointer;
                width: 17px;
                vertical-align: top;
            }
        }
    }
    
    &  .textarea-localizer-textarea{
        width: 100%;
        padding: 7px;
        box-sizing: border-box;
        resize: none;
        border: none;
        outline: none;
        line-height: 1.45;
    }
    
    & .default-language{
        display: none;
    }
    
    & .textarea-localizer-language:not(.textarea-hidden, :hover){
        filter: grayscale(100%) !important;
    }
    
    & .language-box.textarea-hidden{
        display: none;
    }
}